<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Dashboard{% endblock %}</title>
    {% load staticfiles %}
    <link rel="shortcut icon" type="image/png" href="{%  static 'favicon.ico' %}"/>
    <link rel="stylesheet" href="{% static 'dashboard/bootstrap-3.3.7-dist/css/bootstrap.min.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Cagliostro" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'dashboard/style.css' %}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="{% static 'school/bootstrap-3.3.7-dist/js/bootstrap.min.js' %}"></script>
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">

        <!-- Header -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'dashboard:index' %}">Dashboard</a>
        </div>
    
        <!-- Items -->
        <div class="collapse navbar-collapse" id="topNavBar">
            <ul class="nav navbar-nav">
                <li class="{% block index_active %}{% endblock %}"><a href="{% url 'dashboard:index' %}"><span class="glyphicon glyphicon-stats" aria-hidden="true"></span>&nbsp; Barchart</a></li>
                <li class="{% block hist_active %}{% endblock %}"><a href="{% url 'dashboard:histogram' %}"><span class="glyphicon glyphicon-signal" aria-hidden="true"></span>&nbsp; Histogram</a></li>
                <li class="{% block pie_active %}{% endblock %}"><a href="{% url 'dashboard:piechart' %}"><span class="glyphicon glyphicon-hdd" aria-hidden="true"></span>&nbsp; Piechart</a></li>
                <li class="{% block line_active %}{% endblock %}"><a href="{% url 'dashboard:linegraph' %}"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>&nbsp; Linegraph</a></li>
            </ul>            
        </div>
    </div>
</nav>
{% block body %}
{% endblock %}
</body>
</html>
