{% extends 'dashboard/base.html' %}
{% block index_active %}active{% endblock %}
{% load staticfiles %}
{% block body%}
  <div class="container-fluid">

    <div class="row">
      <div class="col-md-offset-1 col-md-10">
        <h1 style="font-family: 'Anton', sans-serif; text-align: center;">Visualizing data with different methods of visualization</h1>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-offset-1 col-md-5">        
        <div class="box" style="text-align: center;">
          <h1 style="text-align: center; font-family: 'Cagliostro', sans-serif;">Barchart</h1>
          <img class="img-responsive center-block" src="{% static 'dashboard/images/bar.png' %}" class="img-responsive" alt="barchart">          
        </div>
      </div> 
      <div class="col-md-5">        
        <div class="box" style="text-align: center;">
          <h1 style="text-align: center; font-family: 'Cagliostro', sans-serif;">Piechart</h1>          
          <img class="img-responsive center-block" src="{% static 'dashboard/images/pie.png' %}" class="img-responsive" alt="piechart">          
        </div>
      </div>     
    </div>
    
    <br>

    <div class="row">
      <div class="col-md-offset-1 col-md-5">        
        <div class="box" style="text-align: center;">
          <h1 style="text-align: center; font-family: 'Cagliostro', sans-serif;">Histogram</h1>
          <img class="img-responsive center-block" src="{% static 'dashboard/images/histogram.png' %}" class="img-responsive" alt="histogram">          
        </div>
      </div>    
      <div class="col-md-5">        
        <div class="box" style="text-align: center;">
          <h1 style="text-align: center; font-family: 'Cagliostro', sans-serif;">Linegraph</h1>
          <img class="img-responsive center-block" src="{% static 'dashboard/images/line.png' %}" class="img-responsive" alt="linegraph">          
        </div>
      </div> 
    </div>

    <br>
        
  </div>
  <br><br>
{% endblock %}